.btn__primary {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	padding: 16px 32px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background: linear-gradient(180deg, #8b1cfb 0%, #b02cdf 100%);
	box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	@media only screen and (min-width: 1024px) {
		font-size: 16px;
	}
}
