.footer {
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	@media only screen and (min-width: 1440px) {
		margin-top: -40px;
	}
	@media only screen and (min-width: 1920px) {
		margin-top: -112px;
	}

	.footer__img_holder {
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		@media only screen and (min-width: 1024px) {
			max-width: unset;
			width: 41%;
		}
		@media only screen and (min-width: 1920px) {
			width: 37.2%;
		}
	}

	.footer__holder {
		display: flex;
		flex-direction: column-reverse;
		@media only screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	.footer__holder_inner {
		@media only screen and (min-width: 768px) {
			padding: 100px 0 50px;
		}
		@media only screen and (min-width: 1024px) {
			width: 58.2%;
		}
		@media only screen and (min-width: 1920px) {
			padding: 262px 0 100px;
			width: 100%;
			max-width: 883px;
		}
	}

	.footer__description_holder {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		@media only screen and (min-width: 768px) {
			align-items: flex-end;
		}
		@media only screen and (min-width: 1024px) {
			gap: 40px;
		}
	}

	.title {
		margin-bottom: 28px;
		@media only screen and (min-width: 768px) {
			text-align: right;
		}
		@media only screen and (min-width: 1024px) {
			margin-bottom: 54px;
		}
		@media only screen and (min-width: 1920px) {
			color: #ffffff;
		}
	}

	.footer__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		text-align: center;
		@media only screen and (min-width: 768px) {
			text-align: right;
		}
		@media only screen and (min-width: 1024px) {
			font-size: 28px;
		}
		@media only screen and (min-width: 1920px) {
			color: #ffffff;
		}

		&.small {
			font-size: 14px;
			width: 60%;
			@media only screen and (min-width: 1024px) {
				font-size: 24px;
			}
		}
	}

	.form__holder {
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: center;
		width: 100%;
		@media only screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: flex-end;
		}
		@media only screen and (min-width: 1024px) {
			gap: 32px;
		}
	}

	.input__email_holder {
		position: relative;
		width: 100%;
		@media only screen and (min-width: 768px) {
			width: 50%;
		}
		@media only screen and (min-width: 1440px) {
			width: 100%;
			max-width: 337px;
		}

		&:focus-within {
			.input__email {
				box-shadow: 0 0 0 1px $color-primary;
				transition: all 0.3s ease;
				@media only screen and (min-width: 768px) {
					box-shadow: 0 0 0 1px #ffffff;
				}
			}
		}
	}

	.input__email {
		font-family: "Inter";
		font-style: normal;
		background-color: transparent;
		padding: 15px 20px;
		border: 1px solid $color-primary;
		border-radius: 30px;
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		letter-spacing: 0.08em;
		width: 100%;
		color: $color-primary;
		@media only screen and (min-width: 768px) {
			caret-color: #ffffff;
			color: #ffffff;
			border: 1px solid #ffffff;
		}
		@media only screen and (min-width: 1024px) {
			font-size: 16px;
		}

		&::placeholder {
			color: rgba(27, 27, 27, 0.85);
			@media only screen and (min-width: 768px) {
				color: rgba(255, 255, 255, 0.85);
			}
		}
	}

	.btn__primary {
		width: 100%;
		@media only screen and (min-width: 768px) {
			width: 50%;
		}
		@media only screen and (min-width: 1024px) {
			width: auto;
		}
	}
}
