.section__mission {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0;
	@media only screen and (min-width: 768px) {
		padding: 60px 0;
	}
	@media only screen and (min-width: 1440px) {
		padding: 60px 0 140px;
	}

	.mission__holder {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		@media only screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: space-around;
		}
		@media only screen and (min-width: 1920px) {
			justify-content: space-between;
		}
	}

	.mission__img_holder {
		width: 100%;
		display: flex;
		align-items: center;
		@media only screen and (min-width: 768px) {
			width: 50%;
		}
		@media only screen and (min-width: 1440px) {
			max-width: 764px;
			width: 100%;
		}
	}

	.mission__description_holder {
		text-align: center;
		@media only screen and (min-width: 768px) {
			width: 50%;
		}
		@media only screen and (min-width: 1440px) {
			padding: 100px 0 0;
			max-width: 592px;
			width: 100%;
		}
	}
}
